---
layout: default
title: Matt Sheehan
---

<div class="journal">

    <ul class="journal__post-list">
        {% if paginator.page == 1 %}
        <ul>
            {% for pinned in site.pinned %}
            {% include snippets/pinned_snippet.html %}
            {% endfor %}
        </ul>
        {% endif %}

        {% for post in paginator.posts %}
        {% include snippets/post_snippet.html post=post %}
        {% endfor %}
    </ul>


    {% if paginator.previous_page %}
    <div class="page-nav space-between">
        <a href="{{ paginator.previous_page_path }}" title="Previous page">← previous</a>
        <a href="{{ paginator.next_page_path }}" title="Next page">next →</a>
    </div>
    {% else %}
    <div class="page-nav flex-end">
        <a href="{{ paginator.next_page_path }}" title="Next page">next →</a>
    </div>
    {% endif %}

</div>