@import "utilities";


.about {
	display: block;
	margin: 0 auto;
	max-width: 42em;
	width: 100%;

	.coin {
		span {
			display: inline-block;
			width: 5rem;
		}
	}

	.elsewhere {
		padding-top: 1rem;
	}
}
