@import "utilities";


.archives {
	display: inline-block;
	float: left;
	width: 30rem;
	padding: 0 1rem;
	text-align: left;
	overflow-x: visible;

	hr {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	ul {
		li {
			padding-bottom: 0.5rem;

			div {
				font-family: "aleo", "Georgia", serif;
				font-style: italic;
				font-size: 0.9rem;
				font-weight: 400;
				letter-spacing: 1px;
				text-align: left;
				color: hsl(0, 0%, 56%);
			}
		}
	}

	.megaman 
	{
		margin: auto;
		background: url(../images/megamanwalking.png) no-repeat;
		width: 100px;
		height: 205px;
		text-indent: -9999px;

		#utilities > .animation(walk, .8s, steps(4), infinite);
	}
}



#utilities > .keyframes(walk, @from, @to);
@from: {
	background-position:  0px;
};
@to: {
	background-position: -387px;
};