@import "utilities";

.site-header {
	position: fixed;
	height: 100%;
	width: 12em;
	#utilities > .box-shadow(0, 0, 0.5em, rgba(0, 0, 0, 0.2));

	.site-header__content {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		text-align: center;
		height: 100%;

		.site-header__portrait {
			display: block;
			flex: 0 0 auto;
			height: 5.5pc;
			width: 5.5pc;
			margin: 0px 0px 1.25em;
			order: -1;

			border: 1px solid #555;
			#utilities > .border-radius(50%);
			#utilities > .transition(border-color, cubic-bezier(0.4, 0, 0.2, 1), 0.2s);

			&:hover {
				border-color: @primary1;
			}

			div {
				width: 100%;
				height: 100%;

				background: url(../images/self_art-circle.png) no-repeat center center;
				background-size: 5pc auto;

				text-indent: -9999px;
			}
		}

		.site-header__signature {
			display: block;
			width: 10em;
			margin-bottom: 1.25em;

			img {
				width: 100%;
				margin-left: 0;
				padding: 0;
				max-width: 10em;
			}
			span {
				color: @grey;
				display: block;
				font-size: 0.75em;
				margin: 0px;
			}
		}

		.site-header__links {
			display: block;
			width: 100%;
			font-size: 0.8em;

			.link {
				display: block;
				text-decoration: none;
				padding: 0.2em 0;
				color: @grey;
				#utilities > .transition(color, cubic-bezier(0.4, 0, 0.2, 1), 0.2s);

				&:hover {
					color: @primary1;
				}
			}
		}
	}



	// for large screens, the header becomes a little wider
	#utilities > .screenLargerThan(1000px, {
		width: 16em;
	});

	// for small screens the header gets moved to the top
	#utilities > .screenSmallerThan(800px, {
		position: relative;
		width: 100%;
		height: auto;

		.site-header__content {
			width: 100%;
			flex-direction: row;
			padding: 1rem;

			.site-header__signature {
				flex: 1 1 50%;
				margin: 0;
				text-align: left;
			}
			.site-header__portrait {
				height: 56px;
				width: 56px;
				order: 0;
				margin: 0;

				div {
					background-size: 50px auto;
				}
			}
			.site-header__links {
				flex: 1 1 50%;
				display: none;
			}
		}
	});
}
