@import "utilities";

/*
 * wrapper around 'main' content
 */
.site-content {
	display: flex;
	flex-direction: column;
	font-family: "Noto Serif", "Georgia", serif;


	margin-left: 0;
	padding: 1.5em 1em 1em;

	#utilities > .screenLargerThan(570px, {
		margin-left: 0;
		padding: 2em;
	});

	#utilities > .screenLargerThan(800px, {
		margin-left: 12em;
		// padding: 6em 5em 4em;
		padding: 5em 3em 3em;
	});

	#utilities > .screenLargerThan(1000px, {
		margin-left: 16em;
		padding: 6em 5em 4em;
	});
}

/*
 * Journal styles
 */
.journal {
	display: block;
	overflow-x: visible;
	max-width: 42em;
	width: 100%;
	margin: 0 auto;

	.journal__recent {
		color: #AAA;
		font-size: 0.8em;
		font-weight: 600;
		letter-spacing: 0.15em;
		margin: 0px;
		text-transform: uppercase;
		word-spacing: 0.5em;
		line-height: 1em;
	}

	.journal__post-list {
		margin-top: 1.5em;
	}


	.page-nav {
		display: flex;
		justify-content: center;
		margin-top: 1rem;

		.prev-page, .next-page {
			padding: 0 0.5rem;
		}
	}

	.archive-page {
		font-family: "Open Sans","Helvetica Neue",sans-serif;
		text-align: center;
		font-size: 0.9rem;
		width: 100%;
		padding: 1rem 0;

		a {
			font-weight: bold;
			text-decoration: underline;
			#utilities > .transition(color, cubic-bezier(0.4, 0, 0.2, 1), 0.2s);

			&:hover {
				color: @primary1;
			}
		}
	}

	.journal-nav__links{
		display: none;
		width: 100%;
		font-size: 0.8em;
		text-align: center;
		margin: 1em 0;

		.link {
			display: block;
			text-decoration: none;
			padding: 0.2em 0;
			color: @grey;
			#utilities > .transition(color, cubic-bezier(0.4, 0, 0.2, 1), 0.2s);

			&:hover {
				color: @primary1;
			}
		}
	}


	#utilities > .screenSmallerThan(800px, {
		max-width: none;
		width: 100%;

		.journal__recent {
			text-align: center;
		}

		.journal-nav__links {
			// display: block;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-direction: row;
		}
	});
}


/*
 * Pinned journal snippet
 */
.pinned-snippet {
	display: block;
	border-top: 1px solid #EEE;

	.pinned__content {
		padding: 1.5rem 0;

		.title {
			font-weight: 600;
		}
		.content {
			font-size: 0.9rem;

			a {
				color: @primary1;
			}
		}
	}
}


/*
 * Post snippet
 */
.post-snippet {
	display: block;
	border-top: 1px solid #EEE;

	&:hover {
		.title {
			color: @primary1;
		}
	}

	a {
		display: inline-block;
		padding: 1.5rem 0;
		color: black;

		.title {
			font-weight: 600;
			#utilities > .transition(color, cubic-bezier(0.4, 0, 0.2, 1), 0.2s);
		}

		.date {
			color: hsl(0, 0%, 56%);
			font-size: 0.9rem;
			font-weight: 400;
		}

		.content {
			font-family: "Open Sans","Helvetica Neue",sans-serif;
			font-size: 0.9rem;
			color: #AAA;
			width: 100%;
		}
	}
}
