@import "utilities";

.journal {
	display: inline-block;
	float: left;
	width: 74.95%;
	max-width: 415px;
	padding: 0 1rem;
	overflow-x: hidden;

	#utilities > .screenSmallerThan(50rem, {
		float: none;
		display: block;
		margin: auto;
		width: 100%;
	});

	.journal-nav {
		display: block;
		width: 100%;
		padding: 1rem 0;

		.page-nav {
			display: inline-table;
			margin: auto;

			.prev-page {
				display: table-cell;
				vertical-align: middle;
				padding: 0 0.5rem;
			}

			.next-page {
				display: table-cell;
				vertical-align: middle;
				padding: 0 0.5rem
			}
		}

		.archive-page {
			display: inline-block;
			width: 100%;
			padding: 1rem 0;
		}
	}

	.post-snippet, .pinned-snippet {
		display: block;
		width: 100%;
		text-align: left;

		.title {
			font-size: 1.65rem;

			a {
				color: #444;

				&:hover {
					color: @compliment1;
				}
			}
		}

		.date {
			font-family: "aleo", "Georgia", serif;
			font-style: italic;
			letter-spacing: 1px;
			text-align: left;
			color: hsl(0, 0%, 56%);
			font-size: 0.9rem;
			font-weight: 400;
		}

		.content {
		    display: inline-block;
		    text-align: justify;
		    width: 100%;

		    #utilities > .screenSmallerThan(50rem, {
		    	padding: 0 1rem;
		    });
		}
	}

	.post-snippet {
		border-bottom: 1px dashed @compliment1;
		padding-bottom: 1rem;
		margin-bottom: 1rem;

		.title {
			text-decoration: underline;
	    }
	    .content {
	    	padding-top: 1rem;
	    }
	}

	.pinned-snippet {
		background-color: hsl(0, 0%, 30%);
		color: white;
		padding: 0 0 0.5rem 0.5rem;
		margin-bottom: 2rem;
	}
}