@import "utilities";


.post
{
	display: block;
	margin: 0 auto;
	max-width: 42em;
	width: 100%;


	#utilities > .screenSmallerThan(50rem, {
		float: none;
		display: block;
		margin: auto;
		width: 100%;
	});

	.title {
		text-align: left;
	}

	.date {
		color: hsl(0, 0%, 56%);
		font-size: 0.9rem;
		font-weight: 400;
		text-align: left;
	}

	.content {
		padding-top: 1rem;
		text-align: justify;
	}


	.post-nav {
		display: flex;
		align-items: stretch;
		width: 100%;
		margin-top: 3em;
		font-size: 0.8em;

		.post-nav__previous, .post-nav__next {
			min-width: 50%;
			margin-bottom: 0.5em;
			padding-right: 1em;

			> div {
				color: #AAA;
			}
			a {
				font-weight: 600;
				font-size: 1rem;
				letter-spacing: -0.04em;
			}
		}

		#utilities > .screenSmallerThan(30rem, {
			flex-direction: column;

			.post-nav__previous, .post-nav__next {
				padding: 0;
			}
		});
	}

	a {
		color: black;
		text-decoration: underline;
		#utilities > .transition(color, cubic-bezier(0.4, 0, 0.2, 1), 0.2s);

		&:hover {
			color: @primary1;
		}
	}

}

.post-footer {
	border-top: 1px solid #EEE;
	margin: auto;
	margin-top: 1rem;
	max-width: 42em;
	width: 100%;

	.post-footer__content {
		display: inline-block;
		margin: 1.5em 0;
		width: 100%;

		.author {
			text-align: center;
			padding: 0;
			margin: 0;
		}

		.quip {
			text-align: center;
			color: #AAA;
		}
	}
}
