<div class="aside">
    <div class="header">
        <a class="portrait" href="/">
            <div>Hmmm...This image didn't show up?</div>
        </a>

        <a class="signature" href="/">
            <img type="image/svg+xml" src="{{ site.url }}/assets/images/signature-white2.svg" />
        </a>    
    </div>

    <div class="row info">
        <div class="aside-nav">
            <div class="aside-link">
                <a href="/" class="link">
                    <div class="journal link-img"></div>
                    <div class="link-text">Journal</div>
                </a>
            </div>
            <div class="aside-link">
                <a href="{{ site.url }}/resume" class="link">
                    <div class="resume link-img"></div>
                    <div class="link-text">Resume</div>
                </a>
            </div>
            <div class="aside-link">
                <a href="{{ site.url }}/about" class="link">
                    <div class="about link-img"></div>
                    <div class="link-text">About</div>
                </a>
            </div>

            <hr/>
            <a class="rss-sub" href="/archives/">Archives</a>

            <hr/>
            <a class="rss-sub" href="{{ site.url }}/feeds/rss.xml">RSS Feed</a>

        </div>
    </div>
</div>