<div class="aside">
    <a class="portrait" href="{{ site.url }}/about">
        <div>
            Hmmm...This image didn't show up?
        </div>
    </a>

    <div class="row info">
        <a class="aside-sig" href="/">
            <img type="image/svg+xml" src="{{ site.url }}/assets/images/signature-white2.svg" />
        </a>
<!--         <span class="aside-name">
            Matt Sheehan
        </span>
        <span class="aside-desc">
            is a software developer, capitalist, and amateur coffee drinker.
        </span> -->

        <div class="aside-nav">
            <div class="aside-link">
                <a href="/" class="link">
                    <div class="journal link-img">
                    </div>
                    <div class="link-text">
                        Journal
                    </div>
                </a>
            </div>
            <div class="aside-link">
                <a href="{{ site.url }}/resume" class="link">
                    <div class="resume link-img">
                    </div>
                    <div class="link-text">
                        Resume
                    </div>
                </a>
            </div>
            <div class="aside-link">
                <a href="{{ site.url }}/about" class="link">
                    <div class="about link-img">
                    </div>
                    <div class="link-text">
                        About
                    </div>
                </a>
            </div>
        </div>

        <hr />

        <span class="rss-sub">
            Subscribe
        </span>
        <a href="{{ site.url }}/feeds/rss.xml">
            RSS
        </a>
    </div>
</div>