<header class="site-header">
  <div class="site-header__content">
    <div class="site-header__signature">
      <a href="/">
        <img type="image/svg+xml" src="{{ site.url }}/assets/images/signature-green.svg" />
      </a>
      <span>Software Developer</span>
    </div>
    <a class="site-header__portrait" href="/">
      <div>Hmmm...This image didn't show up?</div>
    </a>

    <div class="site-header__links">
      <a href="/" class="link">Journal</a>
      <a href="/archives/" class="link">Archive</a>
      <a href="{{ site.url }}/resume" class="link">Resume</a>
      <a href="{{ site.url }}/about" class="link">About</a>
      <a href="{{ site.url }}/feeds/rss.xml" class="link">RSS</a>
    </div>
  </div>
</header>
