@import "variables";


.about {
    width: 100%;

    h1 {
        font-weight: 600;
        font-size: 2.5em;
    }

    h6 {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-family: $serif-fonts;
    }


    .support {
        display: flex;
        flex-direction: column;

        .coin {
            width: 100%;
            margin-bottom: 0.5em;

            input {
                display: block;
                width: 100%;
                border: none;
                font-family: $code-font;
                font-size: inherit;
                line-height: inherit
            }
        }
    }
}
