@import "variables";
@import "mixins";

.site-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    padding-bottom: 2em;

    @include screenSmallerThan570px {
        flex-direction: column;
        border-top: 2px solid $grey-light;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}