@import "variables";
@import "mixins";


$signature-color: $primary-light;

$rss-color: #f93;
$github-color: #000;
$goodreads-color: hsl(20, 27%, 30%);
$linkedin-color: rgb(48, 119, 176);


.site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 3em;


    @include screenSmallerThan570px {
        align-items: center;

        .site-header__portrait {
            display: none;
        }

        .site-header__signature {
            padding-left: 0;
            padding-right: 1em;

            div {
                display: none;
            }
        }
    }
}

.site-header__intro {
    display: flex;
    flex-direction: row;
}

.site-header__portrait {
    height: 5.5pc;
    width: 5.5pc;
    box-shadow: none;

    border: 1px solid #555;
    border-radius: 50%;

    div {
        width: 100%;
        height: 100%;

        background: url(../images/self-pixel-circle.png) no-repeat center center;
        background-size: 5pc auto;

        text-indent: -9999px;
    }
}

.site-header__signature {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    line-height: 1;

    a {
        box-shadow: none;

        svg {
            max-width: 14em;

            // For chrome, you have to set the properties on the parent svg element
            stroke: $signature-color;
            fill: $signature-color;

            // For firefox, you have to set the properties directly on the path
            path {
                stroke: $signature-color;
                fill: $signature-color;
            }
        }
    }

    div {
        font-size: 0.85rem;
        font-family: $sans-fonts;
        font-weight: 900;
    }
}

.site-header__social {
    display: flex;
    justify-content: space-between;

    .social-icon {
        height: 24px;
        width: 24px;
        box-shadow: none;
        cursor: pointer;

        svg {
            fill: #ccc;
            transition: fill $cubic-bezy 0.2s;
        }

        &:hover {
            outline: 0 none;

            &.icon-github {
                svg {
                    fill: $github-color;
                }
            }

            &.icon-rss {
                svg {
                    fill: $rss-color;
                }
            }

            &.icon-goodreads {
                svg {
                    fill: $goodreads-color;
                }
            }

            &.icon-linkedin {
                svg {
                    fill: $linkedin-color;
                }
            }

            &.icon-twitter {
                svg {
                    fill: rgb(74, 161, 236);
                }
            }

            &.icon-telegram {
                svg {
                    fill: #32afed;
                }
            }
        }
    }

    .icon-linkedin,
    .icon-rss,
    .icon-goodreads,
    .icon-twitter,
    .icon-telegram {
        margin-left: 0.4rem;
    }
}