@import "variables";
@import "mixins";


body {
    max-width: 42em;
    margin: auto;

    @include screenSmallerThan800px {
        padding: 0 2em;
    }
    @include screenSmallerThan570px {
        padding: 0 1em;
    }
}



/*
 * wrapper around 'main' content
 */
.site-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5em;
}

/*
 * Journal styles
 */
.journal {
    width: 100%;

    .page-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        margin-top: 1rem;

        &.space-between {
            justify-content: space-between;
        }
        &.flex-end {
            justify-content: flex-end;
        }
    }

    .archive-page {
        font-family: $sans-fonts;
        text-align: center;
        font-size: 0.9rem;
        width: 100%;
        padding: 1rem 0;

        a {
            font-weight: bold;
            text-decoration: underline;
            transition: color $cubic-bezy 0.2s;

            &:hover {
                color: $primary1;
            }
        }
    }

}

/*
 * Pinned journal snippet
 */
.pinned-snippet {
    display: block;

    .pinned__content {
        padding-bottom: 1.5rem;

        .title {
            font-weight: 900;
            line-height: 1.1;
            margin: 0 0 0.333em;
            font-family: $serif-fonts;
        }
        .content {
            display: block;
            width: 100%;

            a {
                color: $primary1;
            }
        }
    }
}

/*
 * Post snippet
 */
.post-snippet {
    display: block;
    padding-bottom: 1.5rem;

    .title {
        display: block;
        box-shadow: none;

        h5 {
            line-height: 1.1;
            margin: 0.667em 0px 0.333em;
            color: $primary1;
        }
    }

    .time {
        font-size: 0.8rem;
    }

    .content {
        width: 100%;
    }
}
