@import "variables";
@import "mixins";

.post {
    display: block;
    margin: 0 auto;
    max-width: 42em;
    width: 100%;

    .title {
        font-size: 2.5em;
        text-align: left;
    }
    .date {
        display: block;
        margin-top: 1rem;
        color: hsl(0, 0%, 56%);
        font-size: 0.9rem;
        font-weight: 400;
        text-align: left;
    }
    .content {
        padding-top: 1rem;
        text-align: justify;
        sup a {
            color: $primary1;
        }
        .reversefootnote {
            color: $primary1;
        }
    }
    .post-nav {
        display: flex;
        align-items: stretch;
        width: 100%;
        margin-top: 3em;
        font-size: 0.8em;
        .post-nav__previous,
        .post-nav__next {
            min-width: 50%;
            margin-bottom: 0.5em;
            padding-right: 1em;
            > div {
                color: #aaa;
            }
            a {
                font-family: $sans-fonts;
                font-weight: 600;
                font-size: 1rem;
                letter-spacing: -0.04em;
                text-decoration: none;
            }
        }

        @include screenSmallerThan30 {
            flex-direction: column;

            .post-nav__previous,
            .post-nav__next {
                padding: 0;
            }
        }
    }
    a {
        color: black;
        text-decoration: underline;
        transition: color $cubic-bezy 0.2s;
        &:hover {
            color: $primary1;
        }
    }

    @include screenSmallerThan50 {
        float: none;
        display: block;
        margin: auto;
        width: 100%;
        .title {
            font-size: 1.75em;
        }
    }
}

.post-footer {
    border-top: 1px solid #eee;
    margin: auto;
    margin-top: 1rem;
    padding: 1.5em 0;
    max-width: 42em;
    width: 100%;
    .author {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .quip {
        text-align: center;
        color: #aaa;
    }
}
