@import "variables";
@import "mixins";

* {
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

@viewport {
    width: device-width;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    // font: 1.0625em/1.47 $serif-fonts;
    font: 100%/1.75 $serif-fonts;
    font-weight: 400;
    font-feature-settings: "kern", "liga", "clig", "calt";
    word-wrap: break-word;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

// Headers
$quarter: 1.25;
$golden: 1.6180339887;

$i: 6;
$s: 0.8;
@while $i > 0 {
    // calculate with golden ratio
    $size: $s * $golden;
    $height: $size * $golden;

    h#{$i} {
        font-family: $sans-fonts;
        font-weight: 900;
        font-size: #{$size}rem;
        letter-spacing: -0.04em;
        text-rendering: optimizeLegibility;

        margin: 0;
        padding: 0;
    }

    // next iteration
    $s: $s + 0.25;
    $i: $i - 1;
}


a {
    color: $primary1;
    text-decoration: none;
    box-shadow: 0 1px 0 0 currentColor;

    &:hover {
        box-shadow: none;
    }

    &:hover,
    &::selection {
        text-shadow: none;
    }
}

p {
    margin: 0;
    margin-bottom: 1rem;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;

    margin: 1rem auto;
    width: 100%;
}

sup {
    font-size: 0.7rem;
}

img {
    display: block;
    width: 100%;
    margin: 1rem 0;
}


canvas {
    display: block;
    width: 120%;
    margin-left: -10%;

    @include screenSmallerThan800px {
        width: 100%;
        margin-left: 0;
    }
}
blockquote {
    background-color: #fff;
    color: #000;
    border-left: 5px solid $grey-light;
    font-style: italic;
    padding: 1rem;
    margin: 0;
    margin-bottom: 0.5rem;
    quotes: "\201C" "\201D" "\2018" "\2019";

    &:before {
        color: #ccc;
        content: open-quote;
        font-size: 250%;
        line-height: 0.1rem;
        margin-right: 0.25rem;
        vertical-align: -0.4rem;
    }

    p {
        display: inline;
    }

    blockquote {
        padding-top: 0;
        padding-bottom: 0;
        border-left: none;

        &:before {
            content: none;
        }
    }
}


ul {
    list-style-type: disc;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}
ol {
    margin: 0;
    padding: 0;
}

small {
    font-size: 0.9rem;
}



ul.checklist {
    list-style: none;
    font-family: $code-font;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
