
$primary1: hsl(145, 63%, 42%);
$primary2: hsl(145, 63%, 62%);
$primary-light: hsl(145, 5%, 95%);

$grey: #999;
$grey-light: #EEE;
$grey-dark: #666;
$grey-off: #F4F2F0;

$serif-fonts: "Noto Serif","Georgia",serif;
$sans-fonts: "Open Sans","Helvetica Neue",sans-serif;
$code-font: Consolas, "Liberation Mono", Menlo, Courier, monospace;

$cubic-bezy: cubic-bezier(0.4, 0, 0.2, 1);

