<header class="site-header">
    <div class="site-header__content">

        <div class="site-header__signature">
            <a href="/" title="Home">
                <!-- <img type="image/svg+xml" src="{{ site.url }}/assets/images/signature-green.svg" /> -->
                <svg viewBox="0 0 600 125" width="100%" height="100%" preserveAspectRatio="x600y125 meet">
                    <use xlink:href="#signature"></use>
                </svg>
            </a>
            <span>Software Developer @&nbsp;Apteryx</span>
        </div>
        <a class="site-header__portrait" href="/" title="Home">
            <div>If you don't see a picture of me here, just imagine a handsome man.</div>
        </a>


        <div class="site-header__social">
            <a href="http://www.github.com/sheehamj13" class="social-nav__icon social-nav__icon-github" title="Github">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-github"></use>
                </svg>
            </a>
            <a href="{{ site.url }}/feed.xml" class="social-nav__icon social-nav__icon-rss" title="Atom Feed">
                <svg viewBox="0 0 32 32">
                    <use xlink:href="#icon-rss"></use>
                </svg>
            </a>
        </div>

        <div class="site-header__links">
            <a href="/" class="link" title="Journal">Journal</a>
            <a href="/archives/" class="link" title="Archive">Archive</a>
            <a href="https://github.com/sheehamj13/resume/blob/master/matthew_sheehan_resume.pdf" class="link" title="Resume">Resume</a>
            <a href="/about" class="link" title="Colophon">Colophon</a>
        </div>
    </div>
</header>