.button {
  display: inline-block;
  margin: auto;
  white-space: nowrap;
  text-decoration: none;
}
.button.rectangle {
  background-color: #61db94;
  padding: 0.7rem 1.5rem;
  white-space: nowrap;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background ease 0.2s;
  -moz-transition: background ease 0.2s;
  -o-transition: background ease 0.2s;
  transition: background ease 0.2s;
}
.button.rectangle:hover {
  background: #28af60;
}
.button.circle {
  border: 3px solid #28af60;
  height: 3rem;
  width: 3rem;
  line-height: 1.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  -moz-transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  -o-transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}
.button.circle:hover {
  border-color: #61db94;
}
.right-arrow {
  background: url(../images/arrow-green.svg) no-repeat center center;
  background-size: contain;
  width: 2.5rem;
  height: 2.5rem;
  text-indent: -9999px;
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
}
.left-arrow {
  background: url(../images/arrow-green.svg) no-repeat center center;
  background-size: contain;
  width: 2.5rem;
  height: 2.5rem;
  text-indent: -9999px;
}
