/********************
NOTO SERIF
********************/
@font-face {
  font-family: 'Noto Serif';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/noto-serif/regular/notoserif-regular-webfont.eot');
  src: local('Noto Serif'), local('NotoSerif'), url('../fonts/noto-serif/regular/notoserif-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/noto-serif/regular/notoserif-regular-webfont.woff2') format('woff2'), url('../fonts/noto-serif/regular/notoserif-regular-webfont.woff') format('woff'), url('../fonts/noto-serif/regular/notoserif-regular-webfont.ttf') format('truetype'), url('../fonts/noto-serif/regular/notoserif-regular-webfont.svg#notoserif') format('svg');
}
@font-face {
  font-family: 'Noto Serif';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/noto-serif/italic/notoserif-italic-webfont.eot');
  src: local('Noto Serif Italic'), local('NotoSerif-Italic'), url('../fonts/noto-serif/italic/notoserif-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/noto-serif/italic/notoserif-italic-webfont.woff2') format('woff2'), url('../fonts/noto-serif/italic/notoserif-italic-webfont.woff') format('woff'), url('../fonts/noto-serif/italic/notoserif-italic-webfont.ttf') format('truetype'), url('../fonts/noto-serif/italic/notoserif-italic-webfont.svg#notoserif') format('svg');
}
@font-face {
  font-family: 'Noto Serif';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/noto-serif/bold/notoserif-bold-webfont.eot');
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url('../fonts/noto-serif/bold/notoserif-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/noto-serif/bold/notoserif-bold-webfont.woff2') format('woff2'), url('../fonts/noto-serif/bold/notoserif-bold-webfont.woff') format('woff'), url('../fonts/noto-serif/bold/notoserif-bold-webfont.ttf') format('truetype'), url('../fonts/noto-serif/bold/notoserif-bold-webfont.svg#notoserif') format('svg');
}
@font-face {
  font-family: 'Noto Serif';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/noto-serif/bolditalic/notoserif-bolditalic-webfont.eot');
  src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url('../fonts/noto-serif/bolditalic/notoserif-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/noto-serif/bolditalic/notoserif-bolditalic-webfont.woff2') format('woff2'), url('../fonts/noto-serif/bolditalic/notoserif-bolditalic-webfont.woff') format('woff'), url('../fonts/noto-serif/bolditalic/notoserif-bolditalic-webfont.ttf') format('truetype'), url('../fonts/noto-serif/bolditalic/notoserif-bolditalic-webfont.svg#notoserif') format('svg');
}
/********************
OPEN SANS
********************/
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/open-sans/regular/opensans-regular-webfont.eot');
  src: local('Open Sans'), local('OpenSans'), url('../fonts/open-sans/regular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/regular/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/open-sans/regular/opensans-regular-webfont.woff') format('woff'), url('../fonts/open-sans/regular/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/open-sans/regular/opensans-regular-webfont.svg#opensans') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/open-sans/italic/opensans-italic-webfont.eot');
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/open-sans/italic/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/italic/opensans-italic-webfont.woff2') format('woff2'), url('../fonts/open-sans/italic/opensans-italic-webfont.woff') format('woff'), url('../fonts/open-sans/italic/opensans-italic-webfont.ttf') format('truetype'), url('../fonts/open-sans/italic/opensans-italic-webfont.svg#opensans') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/open-sans/bold/opensans-bold-webfont.eot');
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans/bold/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/bold/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/open-sans/bold/opensans-bold-webfont.woff') format('woff'), url('../fonts/open-sans/bold/opensans-bold-webfont.ttf') format('truetype'), url('../fonts/open-sans/bold/opensans-bold-webfont.svg#opensans') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/open-sans/bolditalic/opensans-bolditalic-webfont.eot');
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('../fonts/open-sans/bolditalic/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/bolditalic/opensans-bolditalic-webfont.woff2') format('woff2'), url('../fonts/open-sans/bolditalic/opensans-bolditalic-webfont.woff') format('woff'), url('../fonts/open-sans/bolditalic/opensans-bolditalic-webfont.ttf') format('truetype'), url('../fonts/open-sans/bolditalic/opensans-bolditalic-webfont.svg#opensans') format('svg');
}
