.site-header {
  position: fixed;
  height: 100%;
  width: 12em;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
}
.site-header .site-header__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.site-header .site-header__content .site-header__signature {
  display: block;
  width: 10em;
  margin-bottom: 1.25em;
}
.site-header .site-header__content .site-header__signature img {
  width: 100%;
  margin-left: 0;
  padding: 0;
  max-width: 10em;
}
.site-header .site-header__content .site-header__signature span {
  color: #999;
  display: block;
  font-size: 0.75em;
  margin: 0px;
}
.site-header .site-header__content .site-header__portrait {
  display: block;
  flex: 0 0 auto;
  height: 5.5pc;
  width: 5.5pc;
  margin: 0px 0px 1.25em;
  order: -1;
  border: 1px solid #555;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  -moz-transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  -o-transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}
.site-header .site-header__content .site-header__portrait:hover {
  border-color: #28af60;
}
.site-header .site-header__content .site-header__portrait div {
  width: 100%;
  height: 100%;
  background: url(../images/self_art-circle-compressed.png) no-repeat center center;
  background-size: 5pc auto;
  text-indent: -9999px;
}
.site-header .site-header__content .site-header__social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.site-header .site-header__content .site-header__social .social-nav__icon {
  flex: 0 0 auto;
  cursor: pointer;
  height: 24px;
  width: 24px;
}
.site-header .site-header__content .site-header__social .social-nav__icon svg {
  fill: #CCC;
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  -moz-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}
.site-header .site-header__content .site-header__social .social-nav__icon:hover {
  outline: 0 none;
}
.site-header .site-header__content .site-header__social .social-nav__icon:hover.social-nav__icon-github svg {
  fill: #000;
}
.site-header .site-header__content .site-header__social .social-nav__icon:hover.social-nav__icon-rss svg {
  fill: #F93;
}
.site-header .site-header__content .site-header__social .social-nav__icon-rss {
  margin-left: 0.4em;
}
.site-header .site-header__content .site-header__links {
  display: block;
  width: 100%;
  font-size: 0.8em;
}
.site-header .site-header__content .site-header__links .link {
  display: block;
  text-decoration: none;
  padding: 0.2em 0;
  color: #999;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  -moz-transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  -o-transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}
.site-header .site-header__content .site-header__links .link:hover {
  color: #28af60;
}
@media screen and (min-width: 1000px) {
  .site-header {
    width: 16em;
  }
}
@media screen and (max-width: 800px) {
  .site-header {
    position: relative;
    width: 100%;
    height: auto;
  }
  .site-header .site-header__content {
    width: 100%;
    flex-direction: row;
    padding: 1rem;
  }
  .site-header .site-header__content .site-header__signature {
    flex: 1 1 50%;
    margin: 0;
    text-align: left;
  }
  .site-header .site-header__content .site-header__portrait {
    height: 56px;
    width: 56px;
    order: 0;
    margin: 0 0.5em;
  }
  .site-header .site-header__content .site-header__portrait div {
    background-size: 50px auto;
  }
  .site-header .site-header__content .site-header__social {
    flex: 1 1 50%;
    justify-content: flex-end;
  }
  .site-header .site-header__content .site-header__links {
    flex: 1 1 50%;
    display: none;
  }
}
