/*
 * wrapper around 'main' content
 */
.site-content {
  display: flex;
  flex-direction: column;
  font-family: "Noto Serif", "Georgia", serif;
  margin-left: 0;
  padding: 1.5em 1em 1em;
}
@media screen and (min-width: 570px) {
  .site-content {
    margin-left: 0;
    padding: 2em;
  }
}
@media screen and (min-width: 800px) {
  .site-content {
    margin-left: 12em;
    padding: 5em 3em 3em;
  }
}
@media screen and (min-width: 1000px) {
  .site-content {
    margin-left: 16em;
    padding: 6em 5em 4em;
  }
}
/*
 * Journal styles
 */
.journal {
  display: block;
  overflow-x: visible;
  max-width: 42em;
  width: 100%;
  margin: 0 auto;
}
.journal .journal__recent {
  color: #AAA;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.15em;
  margin: 0px;
  text-transform: uppercase;
  word-spacing: 0.5em;
  line-height: 1em;
}
.journal .journal__post-list {
  margin-top: 1.5em;
}
.journal .page-nav {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.journal .page-nav .prev-page,
.journal .page-nav .next-page {
  padding: 0 0.5rem;
}
.journal .archive-page {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 0.9rem;
  width: 100%;
  padding: 1rem 0;
}
.journal .archive-page a {
  font-weight: bold;
  text-decoration: underline;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  -moz-transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  -o-transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}
.journal .archive-page a:hover {
  color: #28af60;
}
@media screen and (max-width: 800px) {
  .journal {
    max-width: none;
    width: 100%;
  }
  .journal .journal__recent {
    text-align: center;
  }
}
/*
 * Pinned journal snippet
 */
.pinned-snippet {
  display: block;
  border-top: 1px solid #EEE;
}
.pinned-snippet .pinned__content {
  padding: 1.5rem 0;
}
.pinned-snippet .pinned__content .title {
  font-weight: 600;
  line-height: 1.1;
  margin: 0 0 0.333em;
}
.pinned-snippet .pinned__content .content {
  display: block;
  width: 100%;
  font-size: 0.9rem;
}
.pinned-snippet .pinned__content .content a {
  color: #28af60;
}
/*
 * Post snippet
 */
.post-snippet {
  display: block;
  border-top: 1px solid #EEE;
}
.post-snippet:hover .title {
  color: #28af60;
}
.post-snippet a {
  display: inline-block;
  padding: 1.5rem 0;
  color: black;
}
.post-snippet a .title {
  font-weight: 600;
  line-height: 1.1;
  margin: 0.667em 0px 0.333em;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  -moz-transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  -o-transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}
.post-snippet a .date {
  display: block;
  width: 100%;
  color: #8f8f8f;
  font-size: 0.9rem;
  font-weight: 400;
}
.post-snippet a .content {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  line-height: 1.4;
  color: #AAA;
  width: 100%;
}
