*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }
html {
  -webkit-font-smoothing: antialiased; }

body {
  font: 100%/1.75 "Merriweather", "Georgia", serif;
  font-weight: 400;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
     -moz-font-feature-settings: "kern", "liga", "clig", "calt";
          font-feature-settings: "kern", "liga", "clig", "calt";
  word-wrap: break-word;
  background-color: #fff;
  padding: 0;
  margin: 0; }

h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 1.294427191rem;
  letter-spacing: -0.04em;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0; }

h5 {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 1.6989356881rem;
  letter-spacing: -0.04em;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0; }

h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 2.1034441853rem;
  letter-spacing: -0.04em;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0; }

h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 2.5079526825rem;
  letter-spacing: -0.04em;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0; }

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 2.9124611797rem;
  letter-spacing: -0.04em;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0; }

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-size: 3.3169696768rem;
  letter-spacing: -0.04em;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0; }

a {
  color: #e07c3a;
  text-decoration: none;
  -webkit-box-shadow: 0 1px 0 0 currentColor;
     -moz-box-shadow: 0 1px 0 0 currentColor;
          box-shadow: 0 1px 0 0 currentColor; }
  a:hover {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none; }
  a::-moz-selection {
    text-shadow: none; }
  a:hover, a::selection {
    text-shadow: none; }

p {
  margin: 0;
  margin-bottom: 1rem; }

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1rem auto;
  width: 100%; }

sup {
  font-size: 0.7rem; }

img {
  display: block;
  width: 100%;
  margin: 1rem 0; }

canvas {
  display: block;
  width: 120%;
  margin-left: -10%; }
  @media screen and (max-width: 800px) {
    canvas {
      width: 100%;
      margin-left: 0; } }

blockquote {
  background-color: #fff;
  color: #000;
  border-left: 5px solid #EEE;
  font-style: italic;
  padding: 1rem;
  margin: 0;
  margin-bottom: 0.5rem;
  quotes: "\201C" "\201D" "\2018" "\2019"; }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 250%;
    line-height: 0.1rem;
    margin-right: 0.25rem;
    vertical-align: -0.4rem; }
  blockquote p {
    display: inline; }
  blockquote blockquote {
    padding-top: 0;
    padding-bottom: 0;
    border-left: none; }
    blockquote blockquote:before {
      content: none; }

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

small {
  font-size: 0.9rem; }

ul.checklist {
  list-style: none;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.about {
  width: 100%; }
  .about h1 {
    font-weight: 600;
    font-size: 2.5em; }
  .about h6 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-family: "Merriweather", "Georgia", serif; }
  .about .support {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .about .support .coin {
      width: 100%;
      margin-bottom: 0.5em; }
      .about .support .coin input {
        display: block;
        width: 100%;
        border: none;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: inherit;
        line-height: inherit; }

.archives {
  width: 100%; }
  .archives h1 {
    font-size: 2.5em; }
    @media screen and (max-width: 570px) {
      .archives h1 {
        font-size: 1.75rem; } }
  .archives ul {
    list-style-type: none; }
    .archives ul li {
      margin: 0.25rem 0 0.75rem; }
      .archives ul li a {
        display: block;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none; }
        .archives ul li a h6 {
          color: #e07c3a; }
  .archives .megaman {
    margin: 1rem auto;
    background: url(../images/megamanwalking.png) no-repeat;
    width: 100px;
    height: 205px;
    text-indent: -9999px;
    -webkit-animation: walk 0.8s steps(4) infinite;
       -moz-animation: walk 0.8s steps(4) infinite;
         -o-animation: walk 0.8s steps(4) infinite;
            animation: walk 0.8s steps(4) infinite; }

@-webkit-keyframes walk {
  from {
    background-position: 0px; }
  to {
    background-position: -387px; } }

@-moz-keyframes walk {
  from {
    background-position: 0px; }
  to {
    background-position: -387px; } }

@-o-keyframes walk {
  from {
    background-position: 0px; }
  to {
    background-position: -387px; } }

@keyframes walk {
  from {
    background-position: 0px; }
  to {
    background-position: -387px; } }
.site-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  margin-bottom: 2em; }

.site-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 3em; }
  @media screen and (max-width: 570px) {
    .site-header {
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .site-header .site-header__portrait {
        display: none; }
      .site-header .site-header__signature {
        padding-left: 0;
        padding-right: 1em; }
        .site-header .site-header__signature div {
          display: none; } }

.site-header__intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.site-header__portrait {
  height: 5.5pc;
  width: 5.5pc;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  border: 1px solid #555;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%; }
  .site-header__portrait div {
    width: 100%;
    height: 100%;
    background: url(../images/self-pixel-circle.png) no-repeat center center;
    -webkit-background-size: 5pc auto;
       -moz-background-size: 5pc auto;
            background-size: 5pc auto;
    text-indent: -9999px; }

.site-header__signature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1em;
  line-height: 1; }
  .site-header__signature a {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none; }
    .site-header__signature a svg {
      max-width: 14em;
      stroke: #eaad75;
      fill: #eaad75; }
      .site-header__signature a svg path {
        stroke: #eaad75;
        fill: #eaad75; }
  .site-header__signature div {
    font-size: 0.85rem;
    font-family: Montserrat, sans-serif;
    font-weight: 900; }

.site-header__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .site-header__social .social-icon {
    height: 24px;
    width: 24px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    cursor: pointer; }
    .site-header__social .social-icon svg {
      fill: #ccc;
      -webkit-transition: fill cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
      -o-transition: fill cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
      -moz-transition: fill cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
      transition: fill cubic-bezier(0.4, 0, 0.2, 1) 0.2s; }
    .site-header__social .social-icon:hover {
      outline: 0 none; }
      .site-header__social .social-icon:hover.icon-github svg {
        fill: #000; }
      .site-header__social .social-icon:hover.icon-rss svg {
        fill: #f93; }
      .site-header__social .social-icon:hover.icon-goodreads svg {
        fill: #614638; }
      .site-header__social .social-icon:hover.icon-linkedin svg {
        fill: #3077b0; }
      .site-header__social .social-icon:hover.icon-twitter svg {
        fill: #4aa1ec; }
      .site-header__social .social-icon:hover.icon-telegram svg {
        fill: #32afed; }
  .site-header__social .icon-linkedin,
  .site-header__social .icon-rss,
  .site-header__social .icon-goodreads,
  .site-header__social .icon-twitter,
  .site-header__social .icon-telegram {
    margin-left: 0.4rem; }

body {
  max-width: 42em;
  margin: auto; }
  @media screen and (max-width: 800px) {
    body {
      padding: 0 2em; } }
  @media screen and (max-width: 570px) {
    body {
      padding: 0 1em; } }

/*
 * wrapper around 'main' content
 */
.site-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2.5em; }

/*
 * Journal styles
 */
.journal {
  width: 100%; }
  .journal .page-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
       -moz-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-top: 1rem; }
    .journal .page-nav.space-between {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .journal .page-nav.flex-end {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
         -moz-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
  .journal .archive-page {
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
    padding: 1rem 0; }
    .journal .archive-page a {
      font-weight: bold;
      text-decoration: underline;
      -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
      -o-transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
      -moz-transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
      transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s; }
      .journal .archive-page a:hover {
        color: #e07c3a; }

/*
 * Pinned journal snippet
 */
.pinned-snippet {
  display: block; }
  .pinned-snippet .pinned__content {
    padding-bottom: 1.5rem; }
    .pinned-snippet .pinned__content .title {
      font-weight: 900;
      line-height: 1.1;
      margin: 0 0 0.333em;
      font-family: "Merriweather", "Georgia", serif; }
    .pinned-snippet .pinned__content .content {
      display: block;
      width: 100%; }
      .pinned-snippet .pinned__content .content a {
        color: #e07c3a; }

/*
 * Post snippet
 */
.post-snippet {
  display: block;
  padding-bottom: 1.5rem; }
  .post-snippet .title {
    display: block;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none; }
    .post-snippet .title h5 {
      line-height: 1.1;
      margin: 0.667em 0px 0.333em;
      color: #e07c3a; }
  .post-snippet .time {
    font-size: 0.8rem; }
  .post-snippet .content {
    width: 100%; }

.post {
  width: 100%; }
  .post .title {
    font-size: 2.5em;
    text-align: left;
    line-height: 1.1;
    letter-spacing: 0; }
    @media screen and (max-width: 570px) {
      .post .title {
        font-size: 1.75rem; } }
  .post .date {
    display: block;
    margin-top: 1rem;
    color: #8f8f8f;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left; }
  .post .content {
    padding-top: 1rem;
    text-align: justify; }
    .post .content sup a {
      color: #e07c3a; }
    .post .content .reversefootnote {
      color: #e07c3a; }

.post-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  margin-top: 3em;
  margin-bottom: 0.5em; }
  .post-nav.space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .post-nav.flex-end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .post-nav.flex-start {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

.post-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #eee;
  margin-top: 1rem;
  padding: 1.5em 0;
  width: 100%; }
  .post-footer .author {
    padding: 0;
    margin: 0; }
  .post-footer .quip {
    color: #aaa; }

.soliloquy {
  padding: 0.5rem;
  background-color: #f9ecd2; }
  .soliloquy code {
    font-size: 0.8rem; }

.primtitle {
  font-size: 1.2rem;
  font-weight: 700; }

.subtitle {
  font-size: 1rem;
  padding-bottom: 0;
  font-style: italic;
  width: 100%;
  display: inline-block; }

.paragraph {
  margin-top: 2rem; }

.footnotes {
  border-top: 1px dashed #999;
  padding-top: 1rem;
  font-size: 0.9rem;
  margin-top: 1rem; }
  .footnotes ol {
    margin: 0;
    padding-left: 1rem; }
    .footnotes ol p {
      padding: 0; }

.video-wrapper {
  position: relative;
  margin: 1.5em 0;
  width: 100%;
  padding-top: 56%; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

figure {
  margin: 0;
  -webkit-border-radius: 1rem;
     -moz-border-radius: 1rem;
          border-radius: 1rem; }
  figure pre {
    overflow: auto;
    padding: 1rem;
    word-wrap: normal;
    word-break: normal;
    word-spacing: normal; }
  figure code {
    -moz-tab-size: 4;
      -o-tab-size: 4;
         tab-size: 4;
    white-space: pre;
    -webkit-hyphens: none;
       -moz-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
    font-family: Consolas,Menlo,Monaco,source-code-pro,Courier New,monospace;
    font-size: 0.7rem; }

.highlight .hll {
  background-color: #404040; }

.highlight {
  background: #202020;
  color: #d0d0d0; }

.highlight .c {
  color: #999999;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .esc {
  color: #d0d0d0; }

/* Escape */
.highlight .g {
  color: #d0d0d0; }

/* Generic */
.highlight .k {
  color: #6ab825;
  font-weight: bold; }

/* Keyword */
.highlight .l {
  color: #d0d0d0; }

/* Literal */
.highlight .n {
  color: #d0d0d0; }

/* Name */
.highlight .o {
  color: #d0d0d0; }

/* Operator */
.highlight .x {
  color: #d0d0d0; }

/* Other */
.highlight .p {
  color: #d0d0d0; }

/* Punctuation */
.highlight .ch {
  color: #999999;
  font-style: italic; }

/* Comment.Hashbang */
.highlight .cm {
  color: #999999;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #cd2828;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .cpf {
  color: #999999;
  font-style: italic; }

/* Comment.PreprocFile */
.highlight .c1 {
  color: #999999;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #e50808;
  font-weight: bold;
  background-color: #520000; }

/* Comment.Special */
.highlight .gd {
  color: #d22323; }

/* Generic.Deleted */
.highlight .ge {
  color: #d0d0d0;
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #d22323; }

/* Generic.Error */
.highlight .gh {
  color: #ffffff;
  font-weight: bold; }

/* Generic.Heading */
.highlight .gi {
  color: #589819; }

/* Generic.Inserted */
.highlight .go {
  color: #cccccc; }

/* Generic.Output */
.highlight .gp {
  color: #aaaaaa; }

/* Generic.Prompt */
.highlight .gs {
  color: #d0d0d0;
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #ffffff;
  text-decoration: underline; }

/* Generic.Subheading */
.highlight .gt {
  color: #d22323; }

/* Generic.Traceback */
.highlight .kc {
  color: #6ab825;
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  color: #6ab825;
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kn {
  color: #6ab825;
  font-weight: bold; }

/* Keyword.Namespace */
.highlight .kp {
  color: #6ab825; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #6ab825;
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #6ab825;
  font-weight: bold; }

/* Keyword.Type */
.highlight .ld {
  color: #d0d0d0; }

/* Literal.Date */
.highlight .m {
  color: #3677a9; }

/* Literal.Number */
.highlight .s {
  color: #ed9d13; }

/* Literal.String */
.highlight .na {
  color: #bbbbbb; }

/* Name.Attribute */
.highlight .nb {
  color: #24909d; }

/* Name.Builtin */
.highlight .nc {
  color: #447fcf;
  text-decoration: underline; }

/* Name.Class */
.highlight .no {
  color: #40ffff; }

/* Name.Constant */
.highlight .nd {
  color: #ffa500; }

/* Name.Decorator */
.highlight .ni {
  color: #d0d0d0; }

/* Name.Entity */
.highlight .ne {
  color: #bbbbbb; }

/* Name.Exception */
.highlight .nf {
  color: #447fcf; }

/* Name.Function */
.highlight .nl {
  color: #d0d0d0; }

/* Name.Label */
.highlight .nn {
  color: #447fcf;
  text-decoration: underline; }

/* Name.Namespace */
.highlight .nx {
  color: #d0d0d0; }

/* Name.Other */
.highlight .py {
  color: #d0d0d0; }

/* Name.Property */
.highlight .nt {
  color: #6ab825;
  font-weight: bold; }

/* Name.Tag */
.highlight .nv {
  color: #40ffff; }

/* Name.Variable */
.highlight .ow {
  color: #6ab825;
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #666666; }

/* Text.Whitespace */
.highlight .mb {
  color: #3677a9; }

/* Literal.Number.Bin */
.highlight .mf {
  color: #3677a9; }

/* Literal.Number.Float */
.highlight .mh {
  color: #3677a9; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #3677a9; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #3677a9; }

/* Literal.Number.Oct */
.highlight .sa {
  color: #ed9d13; }

/* Literal.String.Affix */
.highlight .sb {
  color: #ed9d13; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #ed9d13; }

/* Literal.String.Char */
.highlight .dl {
  color: #ed9d13; }

/* Literal.String.Delimiter */
.highlight .sd {
  color: #ed9d13; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #ed9d13; }

/* Literal.String.Double */
.highlight .se {
  color: #ed9d13; }

/* Literal.String.Escape */
.highlight .sh {
  color: #ed9d13; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #ed9d13; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #ffa500; }

/* Literal.String.Other */
.highlight .sr {
  color: #ed9d13; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #ed9d13; }

/* Literal.String.Single */
.highlight .ss {
  color: #ed9d13; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #24909d; }

/* Name.Builtin.Pseudo */
.highlight .fm {
  color: #447fcf; }

/* Name.Function.Magic */
.highlight .vc {
  color: #40ffff; }

/* Name.Variable.Class */
.highlight .vg {
  color: #40ffff; }

/* Name.Variable.Global */
.highlight .vi {
  color: #40ffff; }

/* Name.Variable.Instance */
.highlight .vm {
  color: #40ffff; }

/* Name.Variable.Magic */
.highlight .il {
  color: #3677a9; }

/* Literal.Number.Integer.Long */
