.post {
  display: block;
  margin: 0 auto;
  max-width: 42em;
  width: 100%;
}
.post .title {
  font-size: 2.5em;
  text-align: left;
}
.post .date {
  display: block;
  margin-top: 1rem;
  color: #8f8f8f;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
}
.post .content {
  padding-top: 1rem;
  text-align: justify;
}
.post .content sup a {
  color: #28af60;
}
.post .content .reversefootnote {
  color: #28af60;
}
.post .post-nav {
  display: flex;
  align-items: stretch;
  width: 100%;
  margin-top: 3em;
  font-size: 0.8em;
}
.post .post-nav .post-nav__previous,
.post .post-nav .post-nav__next {
  min-width: 50%;
  margin-bottom: 0.5em;
  padding-right: 1em;
}
.post .post-nav .post-nav__previous > div,
.post .post-nav .post-nav__next > div {
  color: #AAA;
}
.post .post-nav .post-nav__previous a,
.post .post-nav .post-nav__next a {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: -0.04em;
}
@media screen and (max-width: 30rem) {
  .post .post-nav {
    flex-direction: column;
  }
  .post .post-nav .post-nav__previous,
  .post .post-nav .post-nav__next {
    padding: 0;
  }
}
.post a {
  color: black;
  text-decoration: underline;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  -moz-transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  -o-transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}
.post a:hover {
  color: #28af60;
}
@media screen and (max-width: 50rem) {
  .post {
    float: none;
    display: block;
    margin: auto;
    width: 100%;
  }
  .post .title {
    font-size: 1.75em;
  }
}
.post-footer {
  border-top: 1px solid #EEE;
  margin: auto;
  margin-top: 1rem;
  padding: 1.5em 0;
  max-width: 42em;
  width: 100%;
}
.post-footer .author {
  text-align: center;
  padding: 0;
  margin: 0;
}
.post-footer .quip {
  text-align: center;
  color: #AAA;
}
