.resume {
  max-width: 42em;
  width: 100%;
  margin: 0 auto;
}
.resume .download {
  display: block;
  padding-bottom: 1rem;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.15em;
  margin: 0px;
  text-transform: uppercase;
  word-spacing: 0.5em;
  line-height: 1em;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  -moz-transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  -o-transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}
.resume .download:hover {
  color: #28af60;
}
.resume .paper {
  font-family: "Noto Serif", "Georgia", serif;
  display: inline-block;
  text-align: left;
  border: 1px solid #000;
  padding: 0 1em;
  -webkit-box-shadow: 10px 10px 15px 5px #EEE;
  -moz-box-shadow: 10px 10px 15px 5px #EEE;
  -o-box-shadow: 10px 10px 15px 5px #EEE;
  box-shadow: 10px 10px 15px 5px #EEE;
}
.resume .paper ul {
  list-style-position: inside;
}
.resume .paper .section {
  display: inline-block;
}
.resume .paper .section .title {
  border-bottom: 1px solid black;
}
.resume .paper .header {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.9em;
}
.resume .paper .name {
  text-align: center;
}
.resume .paper .education {
  display: block;
  width: 100%;
}
.resume .paper .education .info {
  display: inline-block;
  width: 100%;
  padding-top: 1rem;
}
.resume .paper .education .info h6 {
  display: inline-block;
  float: left;
}
.resume .paper .education .right {
  display: inline-block;
  float: right;
  text-align: right;
}
@media screen and (max-width: 50rem) {
  .resume .paper .education .right {
    float: left;
    text-align: left;
    width: 100%;
  }
}
.resume .paper .education .right .location {
  font-weight: bold;
}
.resume .paper .education .right .date {
  font-size: 0.9rem;
}
.resume .paper .education ul {
  margin-bottom: 1em;
}
.resume .paper .experience {
  display: block;
  width: 100%;
}
.resume .paper .experience .info {
  display: inline-block;
  width: 100%;
  padding-top: 1rem;
}
.resume .paper .experience .info .left {
  display: inline-block;
  float: left;
}
.resume .paper .experience .info .left h6 {
  display: inline-block;
  font-weight: bold;
}
.resume .paper .experience .info .right {
  display: inline-block;
  float: right;
  text-align: right;
}
@media screen and (max-width: 50rem) {
  .resume .paper .experience .info .right {
    float: left;
    text-align: left;
    width: 100%;
  }
}
.resume .paper .experience .info .right .location {
  font-weight: bold;
}
.resume .paper .experience .info .right .date {
  font-size: 0.9rem;
}
.resume .paper .experience .content {
  padding-top: 1rem;
}
.resume .paper .skills {
  display: block;
  width: 100%;
}
.resume .paper .skills .content {
  display: inline-block;
  width: 100%;
  padding-top: 1em;
}
.resume .paper .skills .content h5 {
  border-bottom: 1px solid black;
}
.resume .paper .skills .content ul.short {
  float: left;
  width: 10rem;
}
