*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
html {
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  font: 1.0625em/1.47 "Georgia", serif;
  background-color: #fff;
  padding: 0;
  margin: 0;
}
body h6 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.29442719096rem;
  line-height: 2.0944271908707455rem;
  letter-spacing: -0.04em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
body h5 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.698935688135rem;
  line-height: 2.7489356880178533rem;
  letter-spacing: -0.04em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
body h4 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.10344418531rem;
  line-height: 3.403444185164961rem;
  letter-spacing: -0.04em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
body h3 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.507952682485rem;
  line-height: 4.057952682312069rem;
  letter-spacing: -0.04em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
body h2 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.9124611796599997rem;
  line-height: 4.712461179459177rem;
  letter-spacing: -0.04em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
body h1 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3.3169696768349994rem;
  line-height: 5.366969676606284rem;
  letter-spacing: -0.04em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.offset {
  width: 10rem;
  height: 5rem;
  float: left;
}
@media screen and (max-width: 50rem) {
  .offset {
    display: none;
  }
}
section {
  display: inline-block;
  padding: 1em 0;
  width: 100%;
}
@media screen and (max-width: 50rem) {
  section {
    padding: 0.5em 0;
  }
}
a {
  text-decoration: none;
  color: black;
}
a:hover,
a::selection {
  text-shadow: none;
}
p {
  padding-bottom: 0.5rem;
  margin: 0;
}
hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: auto;
  width: 3rem;
}
@media sreen and (min-width: 50rem) {
  hr {
    margin: 0.5rem auto;
  }
}
sup {
  font-size: 0.7rem;
}
img {
  display: block;
  width: 100%;
  padding: 1rem 0;
}
.video-wrapper {
  position: relative;
  margin: 1.5em 0;
  width: 100%;
  padding-top: 56%;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 50rem) {
  .video-wrapper iframe {
    padding: 0;
  }
}
canvas {
  display: block;
  width: 120%;
  margin-left: -10%;
}
@media screen and (max-width: 50rem) {
  canvas {
    width: 100%;
    margin-left: 0;
  }
}
blockquote {
  background-color: #FFF;
  color: #000;
  border-left: 5px solid #EEE;
  font-style: italic;
  padding: 1rem;
  margin: 0;
  margin-bottom: 0.5rem;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 250%;
  line-height: 0.1rem;
  margin-right: 0.25rem;
  vertical-align: -0.4rem;
}
blockquote p {
  display: inline;
}
blockquote blockquote {
  padding-top: 0;
  padding-bottom: 0;
  border-left: none;
}
blockquote blockquote:before {
  content: none;
}
pre {
  background-color: #F4F2F0;
  color: #000;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem 0.5rem;
  width: 100%;
}
pre code {
  padding: 0;
  font-family: monospace;
  font-weight: normal;
  font-size: 0.9rem;
  text-transform: none;
  font-variant: normal;
  background: none;
}
code,
.highlight {
  background: #EEE;
  font-family: monospace;
  font-weight: 600;
}
ul {
  list-style-type: square;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}
ol {
  margin: 0;
  padding: 0;
}
small {
  font-size: 0.9rem;
}
.soliloquy {
  background: #f2f3f2;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}
.primtitle {
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  padding-top: 0.5rem;
  display: inline-block;
}
.subtitle {
  font-size: 1rem;
  text-decoration: underline;
  padding-bottom: 0;
  font-style: italic;
  width: 100%;
  display: inline-block;
}
.footnotes {
  border-top: 1px dashed #999;
  padding-top: 1rem;
  font-size: 0.9rem;
  margin-top: 1rem;
}
.footnotes ol {
  margin: 0;
  padding-left: 1rem;
}
.footnotes ol p {
  padding: 0;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
