---
layout: default
---

<main class="resume" role="main">
	<a class="download" href="/resume/Matthew-Sheehan.pdf" target="_blank">Download as PDF</a>

  <div class="paper">
    	<section class="header">
				<div>{{ site.mailing_address }}</div>
				<div>{{ site.phone }}</div>
				<div>{{ site.email }}</div>
    	</section>

  		<h4 class="name"><a href="/">{{ site.name }}</a></h4>

    	<section class="section">
    		<h5 class="title">Objective</h5>
    		<span class="row">
   				Fulfill a position where creative programming is inspired, learning and research is encouraged, and hard work is valued.
   			</span>
    	</section>

    	<section class="education section">
    		<h5 class="title">Education</h5>
 				{% for post in site.resume %}
    			{% if post.categories contains 'education' %}
    			<div class="info">
 						<h6>{{ post.school }}</h6>
 						<div class="right">
     					<div class="location">{{ post.location }}</div>
     					<div class="date">{{ post.end_date }}</div>
						</div>
					</div>
    			<div>
    				{{ post.content }}
    			</div>
  				{% endif %}
				{% endfor %}
    	</section>

    	<section class="experience section">
    		<h5 class="title">Experience</h5>
   			{% for post in site.resume %}
      		{% if post.categories contains 'job' %}
      			<div class="info">
	      			<div class="left">
	     					<h6>{{ post.title }}</h6>
     						<div>{{ post.employer }}</div>
   						</div>
     					<div class="right">
     	  				<div class="location">{{ post.location }}</div>
	  						<div class="date">{{ post.start_date }} - {{ post.end_date }}</div>
     					</div>
   					</div>
   					<div class="content">
   						{{ post.content }}
   					</div>
    			{% endif %}
 				{% endfor %}
   		</section>

     	<section class="skills section">
     		{% for post in site.resume %}
     			{% if post.categories contains 'other' %}
     	   		<div class="content">
	   					{{ post.content }}
	   				</div>
					{% endif %}
     		{% endfor %}
     	</section>
  </div>

</main>
