<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <system.webServer>
      <staticContent>
         <remove fileExtension=".svg"/>
	 <remove fileExtension=".pde"/>
         <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
	 <mimeMap fileExtension=".pde" mimeType="text/plain" />
      </staticContent>
   </system.webServer>
</configuration>