---
layout: default
---

{% if page contains 'processing' %}
<script type="text/javascript" src="{{ site.url }}/assets/script/processing_min.js"></script>
{% endif  %}

<main class="post" role="main">
    <h2 class="title">{{ page.title }}</h2>
    <span class="date">{{ page.date | date: "%B %-d, %Y" }}</span>

    <div class="content">
        {{ content }}
    </div>

    <div class="post-nav">
      {% if page.previous %}
        <div class="post-nav__previous">
          <div>Previous</div>
          <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
        </div>
      {% endif %}
      {% if page.next %}
        <div class="post-nav__next">
          <div>Next</div>
          <a href="{{ page.next.url }}">{{ page.next.title }}</a>
        </div>
      {% endif %}
    </div>
</main>


<footer class="post-footer">
  <div class="post-footer__content">
    <h6 class="author">Written and Published by {{ site.author }}</h6>
    <div class="quip row">
        <div>Capitalist, amateur coffee drinker, and tasteless programmer.</div>
        <div>Warning: I'm clueless about what I talk about.</div>
    </div>
  </div>
</footer>
