---
layout: default
---

{% if page contains 'processing' %}
<script type="text/javascript" src="{{ site.url }}/assets/script/processing_min.js"></script>
{% endif  %}

<div class="post">
    <h3 class="title">{{ page.title }}</h3>
    <span class="date">{{ page.date | date: "%A, %B %-d, %Y" }}</span>

    <div class="content">
        {{ content }}
    </div>

    <div class="row">
        <hr />
    </div>

    <div class="author row">
        <span>Written and Published by {{ site.author }}</span>
    </div>
    <div class="quip row">
        <div>Capitalist, amateur coffee drinker, and tasteless programmer.</div>
        <div>Warning: I'm clueless about what I talk about.</div>
    </div>

    <div class="post-nav row">
        <div class="page-nav">
            <div class="prev-page">
                {% if page.previous %}
                    <a href="{{ page.previous.url }}" class="button circle left-arrow"></a>
                {% endif %}
            </div>
            <div class="next-page">
                {% if page.next %}
                    <a href="{{ page.next.url }}" class="button circle right-arrow"></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
